[Unit]
Description = FotaHub Client daemon
After = network.target

[Service]
WorkingDirectory = /usr/rootdirs/bin/fotahub/
ExecStart = fotahub --config /etc/fotahub/fotahubclient.cfg finish-operating-system-update

[Install]
WantedBy = multi-user.target
