[General]
# Whether to enable GPG verification when pulling updates for operating system or applications
GPGVerify = false

# Where to store status information about latest operating system and application updates
UpdateStatusPath = /var/log/fotahub/updatestatus.json

# Whether to enable verbose output
Verbose = false 

# Whether to enable output of stacktrace for exceptions
Stacktrace = false 

[OS]
# Name of operating system distribution used on this device
OSDistroName = fullmetalupdate-os-raspberrypi3

# Command used to validate whether operating system update works as expected
SelfTestCommand = bash -c "echo 'This OS revision Looks good!'"

[App]
# Home location of application OSTree repository
AppOSTreeHome = /apps/ostree_repo