[General]
# Whether to enable GPG verification when pulling updates for operating system or applications
GPGVerify = false

# Where to store status information about latest operating system and application updates
UpdateStatusPath = /var/log/fotahub/update-status.json

# Whether to enable verbose output
Verbose = false 

# Whether to enable output of stacktrace for exceptions
Stacktrace = false 

[OS]
# Name of operating system distribution used on this device
OSDistroName = fotahub-os-raspberrypi3

# Optional hook command used to verify whether operating system update is consistent;
# executed after download of operating system update but before activating it and rebooting the system;
# gets the revision of the downloaded operation system update passed in as first and only argument
OSUpdateVerificationCommand = bash -c 'echo "The downloaded OS update revision $1 looks good!"'

# Optional hook command used to validate whether operating system update works as expected;
# executed by updated operating system after having activated it and successfully rebooted the system
# gets invoked without any arguments
OSUpdateSelfTestCommand = bash -c 'echo "The freshly activated OS update runs very well!"'

[App]
# Home location of application OSTree repository
AppOSTreeHome = /apps/ostree_repo